<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108071252926-glp8ficd6o0js3fcsl25j650g0gjtltq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108071252926-glp8ficd6o0js3fcsl25j650g0gjtltq</string>
	<key>API_KEY</key>
	<string>AIzaSyBMtasBZl3TlpcWk8ursE4xT02wsFW0OYw</string>
	<key>GCM_SENDER_ID</key>
	<string>108071252926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paradabeltran.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-87de9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-87de9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108071252926:ios:b956cd6fe572a783bc7fef</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-87de9.firebaseio.com</string>
</dict>
</plist>